:root {
    --vaporwave-cyan: #03f0f0;
    --vaporwave-magenta: #f003fc;
    --windows-grey: #c3c3c3;
    --windows-light-grey: #fdffff;
    --windows-dark-grey: #818181;
    --windows-blue: #010081;
    --windows-aqua: #008080;

}

body{
    background: linear-gradient(to top left, 
                                      var(--vaporwave-magenta), 
                                      var(--vaporwave-cyan)
    );

    /*background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);*/
    /*background: var(--vaporwave-cyan);*/

    margin: 0;
    padding: 0;
}
#bust-background {
    text-align: center;
    border: 3px solid var(--vaporwave-cyan);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bust-background img {
    max-height: 80vh;
    max-width: 80vw;
    position: relative;
    z-index: -1;
}

table {
  border-collapse: collapse;
    width: 100%;
    text-align: center;
  border-spacing: 25px 0;
}

td {
  padding: 10px 0;
    width:100px;
}

.desktop {
    width: 100%;
    height: 100%;
    position: absolute;
}

.email-full {
/*border-collapse: separate;*/
    border-bottom: .05px solid black;
    margin-bottom: 0px;
}


td.email-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
    display: block;
    width: 300px;
}

.email {
    cursor: pointer;
}


.case-name{
    text-decoration: underline;
    font-size: 20em;
}

.window {
    position: absolute;
    resize: both;
    overflow: hidden; /* Prevent scrollbar on the window itself */
}

.window-body {
    height: 100%;
}

.tree-view {
    line-height: 20px;
    overflow-y: auto;
    min-height: 200px;
    height: 85%;
}


.icon-image {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
        
div.icon-group {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    max-width: 64px;
}
.icon-image {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-name {
    display: block;
    color: black;
    font-weight: bold;
}
.icon-name-dark {
    display: block;
    color: black;
    font-weight:bolder;
}

#icon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    max-height: 600px;
    font-family: monospace;
}

textarea {
    width: 100%;
    min-height: 300px;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
}

footer {
    background-color: var(--windows-grey);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    border-top: 2px solid rgb(231, 231, 231);
    /*    overflow: hidden;*/
}

.title-bar {
    cursor: grab;
}

footer * {
    margin: 1px 2px 0px 2px;
    display:inline-block;

/*    max-height: 30px;*/
}

#footer-left{
    display:inline-flex;
    left: 0px;
    top: 5px;
    padding-right: 5px;
    border-right: 1px solid var(--windows-dark-grey);
}

#footer-right{
    position:absolute;
    display:inline-flex;
    right: 0px;
    top: 2px;
    box-shadow: 1px 1px 1px black inset;
    padding: 6px;
}
#footer-right img {
    cursor: pointer;
}

.minimized-tab {
}

#win-window {
    
    height:100px;
    width: 100%;
    top: 33%;
    left: 38%;
}
#win-window a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.start-button {
    font-weight: bold;
    padding: 8px;
}

.start-menu {
  position: relative;
  font-family: monospace;
}

#start-menu-content {
    position:absolute;
    min-width: 180px;
    bottom: 22pt;
    z-index: 100;
    background-color: var(--windows-grey);
    border-top: 2px solid var(--windows-light-grey);
    border-left: 5px solid var(--windows-light-grey);
    border-right: 2px solid var(--windows-dark-grey);
    border-bottom: 2px solid var(--windows-dark-grey);
}

.start-menu-divs .item {
    cursor: pointer;
}

.start-menu-divs .icon-image {
    max-height: 32px;
    max-width: 32px;
}

.start-menu-divs .icon-name {
    color: black;
    margin-left: 10px;
}


.settings-menu {
    position: relative;
    font-family: monospace;
  }
  
  #settings-menu-content {
      position:absolute;
      min-width: 160px;
      bottom: 22pt;
      right: 15px;
      z-index: 100;
      background-color: var(--windows-grey);
      border-top: 2px solid var(--windows-light-grey);
      border-left: 2px solid var(--windows-light-grey);
      border-right: 2px solid var(--windows-dark-grey);
      border-bottom: 2px solid var(--windows-dark-grey);
  }
  
  .settings-menu-divs .item {
      cursor: pointer;
  }
  
  .settings-menu-divs .icon-image {
      max-height: 32px;
      max-width: 32px;
  }
  
  .settings-menu-divs .icon-name {
      margin: 0px;
  }

  .seting-name {
    
  }
  .setting-name:hover {
    background-color: var(--windows-blue);
    color: white;
  }

  #reset {
    color: var(--windows-dark-grey);
    cursor: default;
  }

  #reset:hover {
    background-color: var(--windows-grey);
  }

#desktop{
    user-select:none;
}

#file1-database {
    overflow-y: scroll;
}

#load-screen, #blue-screen, #reboot-screen {
    color: white;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 1.5em;
}

#load-screen, #reboot-screen {
    background-color: black;
    text-align: center;
    vertical-align: middle;
}

#blue-screen {
    background-color: var(--windows-blue);
}

#load-screen div, #reboot-screen div {
position: relative; 
left: 50%;
top: 45%;
transform: translateX(-50%);
    transform: translate(-50%);
}

#blue-screen div{
    margin: 10px;
    padding: 10px;
    max-width:500px;
}

/*https://codepen.io/penry/pen/xEPKpj*/
#start-menu-content .side-banner{
  height: 100%;
  background: linear-gradient(to bottom, #000080, #1084d0);
  display: inline-block;
  width: 30px;
  bottom: 0;
  left: -5px;
  position: absolute;
}

.headline {
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
/*  width: 150%;*/
  padding-bottom: 3px;
  padding-left: 0px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  margin-bottom: -10px;
}

.start-menu-divs {
    margin-left: 40px;
}

#audioButton {
   margin: 0;
}

audio {
    position: fixed;
    bottom: 35px;
    right: 10px;
    z-index: 1000;
    background: var(--windows-grey);
}

#start-menu-content .item{
    display: block;
    margin-top:15px;
    margin-bottom: 15px;
    width: 100%;
}

.start-menu-divs .item *{
    display: inline-block;
    vertical-align: middle;   
}

/* Right Click Menu */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border-top: 2px solid var(--windows-light-grey);
    border-left: 2px solid var(--windows-light-grey);
    border-right: 3px solid var(--windows-dark-grey);
    border-bottom: 3px solid var(--windows-dark-grey);
    white-space: nowrap;
    background: var(--windows-grey);
    color: black;
    font-family: monospace;
    list-style-type: none;
    padding: 0;
}

.custom-menu li {
    padding: 5px 100px 5px 20px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: var(--windows-blue);
    color: white;
}